# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Project local files
*.user
*.sdf
*.opensdf
*.vcxproj.filters

#Project local dirs
build/
Protocols/
LICENSE

#In development
MVS_Solution.sdf
MVS_Solution.sln
MVS_Solution.v11.suo

